<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>NateWelling.com</title>
  @@include('./_styles.html')
  @@include('./_scripts.html')
</head>

<body>
  <div class="ui inverted vertical masthead segment">
    <div class="ui middle aligned column centered grid">
      <div class="ui text container center aligned">

        <br><br><br><br><br><br><br>

        <img class="ui medium circular image centered"
          src="https://avatars1.githubusercontent.com/u/1187572?s=460&u=a4b99b141e981a0be899b82f283047f20a1578db&v=4">

        <h1>
          <span class="ui large text">Nathan Welling</span>
        </h1>

        <h1>
          <span class="ui text grey">Javascript developer</span>

          <br><br>

          <!-- <span class="ui small text">
            Founder of:&nbsp;
            <a href=" https://baht.com" class="">
              baht.com
            </a>,&nbsp;
            <a href=" https://cssbuttongenerator.com" class="">
              cssbuttongenerator.com
            </a>,&nbsp;
            <a href=" https://getaudiofromvideo.com" class="">
              getaudiofromvideo.com
            </a>
          </span>

          <br><br> -->

          <a href="https://github.com/naterexw" class="massive ui circular inverted icon button">
            <i class="github icon"></i>
          </a>
          <a href="https://instagram.com/naterexw" class="massive ui circular inverted icon button">
            <i class="instagram icon"></i>
          </a>
          <a href="mailto:nate@natewelling.com" class="massive ui circular inverted icon button">
            <i class="envelope icon"></i>
          </a>
        </h1>

      </div>
    </div>

  </div>
</body>

</html>